.jumbotron: .container-fluid
  h1= title
  h3 we tutor middle and highschool students
.content: .container-fluid
  .row
    .col-md-4
      span.glyphicon.glyphicon-large.glyphicon-edit(aria-hidden='true')
      h2 One-on-One Focus
    .col-md-4
      span.glyphicon.glyphicon-large.glyphicon-calendar(aria-hidden='true')
      h2 Flexible Scheduling
    .col-md-4
      span.glyphicon.glyphicon-large.glyphicon-signal(aria-hidden='true')
      h2 Proven Results
  .row
    .col-xs-12.spacer
    .col-md-10.col-md-offset-1
      p details go here.